In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [2]:
#print names of files in ML_assignment folder
print(os.listdir())

['.ipynb_checkpoints', 'Assignment2.ipynb', 'data_cleaning.ipynb', 'loan.csv', 'Used_car_prices_in_Pakistan 2021_rawD.csv']

In [3]:
#import data-set
df = pd.read_csv("Used_car_prices_in_Pakistan 2021_rawD.csv")

In [4]:
#first five rows
df.head()

,Make,Model,Version,Price,Make_Year,CC,Assembly,Mileage,Registered City,Transmission
0,Honda,Insight,NaN,7400000.0,2019,1500,Imported,2000,Un-Registered,Automatic
1,Mitsubishi,Minica,Black Minica,1065000.0,2019,660,Imported,68000,Lahore,Automatic
2,Audi,A6,1.8 TFSI Business Class Edition,9300000.0,2015,1800,Local,70000,Lahore,Automatic
3,Toyota,Aqua,G,2375000.0,2014,1500,Imported,99900,Islamabad,Automatic
4,Honda,City,1.3 i-VTEC,2600000.0,2017,1300,Local,55000,Islamabad,Manual

In [5]:
#last five rows
df.tail()

,Make,Model,Version,Price,Make_Year,CC,Assembly,Mileage,Registered City,Transmission
80567,Suzuki,Bolan,NaN,750000.0,2015,800,Local,98000,Lahore,Manual
80568,Suzuki,Alto,VXR,1480000.0,2020,660,Local,7800,Karachi,Manual
80569,Toyota,Corolla,GLi Automatic 1.3 VVTi,2700000.0,2016,1300,Local,81000,Islamabad,Automatic
80570,FAW,X-PV,Standard,600000.0,2013,1000,Local,2,Lahore,Manual
80571,Honda,Civic,VTi Prosmatec 1.8 i-VTEC,2620000.0,2013,1800,Imported,100000,Islamabad,Automatic

# Data Cleaning : Detecting NAN values

In [6]:
#Number of null value
df.isnull().sum()

Make                  0
Model                 0
Version            6772
Price                 0
Make_Year             0
CC                    0
Assembly              0
Mileage               0
Registered City       0
Transmission          0
dtype: int64

In [7]:
df.isnull().any()

Make               False
Model              False
Version             True
Price              False
Make_Year          False
CC                 False
Assembly           False
Mileage            False
Registered City    False
Transmission       False
dtype: bool

In [ ]:
#display null values using graph
sns.heatmap(df.isnull(), yticklabels=False, annot=True)

# Remove null values

In [ ]:
missing_value=["NaN",np.nan]
df = pd.read_csv("Used_car_prices_in_Pakistan 2021_rawD.csv", na_values)

In [ ]:
df.isnull()

In [ ]:
#data types in each colunm
df.dtypes

In [ ]:
#shape of the data
df.shape

In [ ]:
x = df.iloc[:, [4,5]]
y = df.iloc[:, 3]

In [ ]:
x.head()

In [ ]:
df.describe()

In [ ]:

df.corr()

In [ ]:
df['Price'].describe()