In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import StandardScaler

 Collection and Processing

In [2]:
#print names of files in ML_assignment folder
print(os.listdir())

['.ipynb_checkpoints', 'Assignment2Final.ipynb', 'Assignment2_It19168364.ipynb', 'README.md', 'Used_car_prices_in_Pakistan 2021_rawD.csv']

In [3]:
#import data-set
df = pd.read_csv("Used_car_prices_in_Pakistan 2021_rawD.csv")

In [4]:
#first five rows
df.head()

,Make,Model,Version,Price,Make_Year,CC,Assembly,Mileage,Registered City,Transmission
0,Honda,Insight,NaN,7400000.0,2019,1500,Imported,2000,Un-Registered,Automatic
1,Mitsubishi,Minica,Black Minica,1065000.0,2019,660,Imported,68000,Lahore,Automatic
2,Audi,A6,1.8 TFSI Business Class Edition,9300000.0,2015,1800,Local,70000,Lahore,Automatic
3,Toyota,Aqua,G,2375000.0,2014,1500,Imported,99900,Islamabad,Automatic
4,Honda,City,1.3 i-VTEC,2600000.0,2017,1300,Local,55000,Islamabad,Manual

In [5]:
#last five rows
df.tail()

,Make,Model,Version,Price,Make_Year,CC,Assembly,Mileage,Registered City,Transmission
80567,Suzuki,Bolan,NaN,750000.0,2015,800,Local,98000,Lahore,Manual
80568,Suzuki,Alto,VXR,1480000.0,2020,660,Local,7800,Karachi,Manual
80569,Toyota,Corolla,GLi Automatic 1.3 VVTi,2700000.0,2016,1300,Local,81000,Islamabad,Automatic
80570,FAW,X-PV,Standard,600000.0,2013,1000,Local,2,Lahore,Manual
80571,Honda,Civic,VTi Prosmatec 1.8 i-VTEC,2620000.0,2013,1800,Imported,100000,Islamabad,Automatic

In [6]:
#shape of the dataset
df.shape

(80572, 10)

# vizualizing  categorical data

In [7]:
#get information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80572 entries, 0 to 80571
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Make             80572 non-null  object
 1   Model            80572 non-null  object
 2   Version          73800 non-null  object
 3   Price            80572 non-null  object
 4   Make_Year        80572 non-null  int64
 5   CC               80572 non-null  int64
 6   Assembly         80572 non-null  object
 7   Mileage          80572 non-null  int64
 8   Registered City  80572 non-null  object
 9   Transmission     80572 non-null  object
dtypes: int64(3), object(7)
memory usage: 6.1+ MB

In [8]:
df.describe()

          Make_Year            CC        Mileage
count  80572.000000  80572.000000   80572.000000
mean    2011.724209   1404.083267   85653.660080
std        6.953399    684.458171   82241.870901
min     1990.000000      1.000000       1.000000
25%     2007.000000   1000.000000   36500.000000
50%     2013.000000   1300.000000   73000.000000
75%     2017.000000   1600.000000  110520.000000
max     2021.000000  10000.000000  999999.000000

In [9]:
df.columns

Index(['Make', 'Model', 'Version', 'Price', 'Make_Year', 'CC', 'Assembly',
       'Mileage', 'Registered City', 'Transmission'],
      dtype='object')

In [10]:
print(df['Assembly'].value_counts())
print(df['Transmission'].value_counts())

Local       54498
Imported    26074
Name: Assembly, dtype: int64
Automatic    40408
Manual       40164
Name: Transmission, dtype: int64

In [11]:
assembly = df['Assembly']
transmission = df['Transmission']
selling_price = df['Price']

In [12]:
from matplotlib import style

In [ ]:
style.use('ggplot')
fig = plt.figure(figsize=(15,5))
fig.suptitle('Visualizing catecorical data collumns')
plt.subplot(1,2,1)
plt.bar(assembly,selling_price, color='royalblue')
plt.xlabel("Assembly")
plt.ylabel("Selling price")
plt.subplot(1,2,2)
plt.bar(transmission,selling_price, color='red')
plt.xlabel('Transmission Type')
plt.show()

# Data Cleaning : Detecting NAN values

In [ ]:
#Number of null value
df.isnull().sum()

# Detecting null values

In [ ]:
missing_value=["NaN",np.nan]
df = pd.read_csv("Used_car_prices_in_Pakistan 2021_rawD.csv", na_values=missing_value)

In [ ]:
df.isnull().any()

In [ ]:
#Number of null value
df.isnull().sum()

In [ ]:
# Mean value % in null values
df.isnull().mean()

In [ ]:
df['Version'].value_counts().plot.bar()

In [ ]:
#display null values using graph
sns.heatmap(df.isnull(), yticklabels=False, annot=True)

# Add mean value in 'version' variable to the null values

In [ ]:
df['Version'].mode()

In [ ]:
df['Version'].fillna('GLi 1.3 VVTi', inplace=True)

In [ ]:
df['Version'].isnull().sum()

In [ ]:
df['Version'].value_counts().plot.bar()

# Data Preprocessing

### 3.1 CategoricalEncoder

In [ ]:
#categorical data distridution illustration
print(df.Transmission.value_counts())
print(df.Assembly.value_counts())

In [ ]:
#encoding the "Transmission" Column
df.replace({'Transmission':{'Automatic':0,'Manual':1}},inplace=True)

#encoding the "Assembly" Column
df.replace({'Assembly':{'Local':0,'Imported':1}},inplace=True)

In [ ]:
df.head()

### Spliting the data into Traning data and Testing data.

In [ ]:
X = df.drop(['Price'],axis=1)
Y = df['Price']

In [ ]:
print(X)

In [ ]:
print(Y)

### Splitting Traning and Testing data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 2)

### Traning Model

## 1.Linear Regression

In [ ]:
#loading the linear regression model
lin_reg_model = LinearRegression()

# 3.1 LableEncoder

In [ ]:
# data types in each colunm
df.dtypes

# 3.1.1 LableEncoding an 'Make' variable (one-hot encoding)

In [ ]:
df['Make'].unique()

In [ ]:
encode = LabelEncoder()

In [ ]:
encode.fit_transform(df['Make'])

In [ ]:
df['Make_label']=encode.fit_transform(df['Make'])

In [ ]:
df['Make_label'].value_counts()

In [ ]:
df['Make'].value_counts()

# Start one-hot encoding

In [ ]:
add_columns = pd.get_dummies(df['Make'])

In [ ]:
add_columns

In [ ]:
df.join(add_columns)

In [ ]:
df.drop(['Make'], axis = 1, inplace = True)

In [ ]:
df.columns

In [ ]:
df = df.join(add_columns)

In [ ]:
df

# 3.1.2 LableEncoding an 'Assembly' variable (one-hot encoding)

In [ ]:
df['Assembly'].unique()

In [ ]:
encode = LabelEncoder()

In [ ]:
encode.fit_transform(df['Assembly'])

In [ ]:
df['Assembly_label']=encode.fit_transform(df['Assembly'])

In [ ]:
df['Assembly_label'].value_counts()

In [ ]:
df['Assembly'].value_counts()

# Start one-hot encoding

In [ ]:
add_columns = pd.get_dummies(df['Assembly'])

In [ ]:
add_columns

In [ ]:
df.join(add_columns)

In [ ]:
df.drop(['Assembly'], axis = 1, inplace = True)

In [ ]:
df.columns

In [ ]:
df = df.join(add_columns)

In [ ]:
df

# 3.1.3 LableEncoding an 'Transmission' variable (one-hot encoding)

In [ ]:
df['Transmission'].unique()

In [ ]:
encode = LabelEncoder()

In [ ]:
encode.fit_transform(df['Transmission'])

In [ ]:
df['Transmission_label']=encode.fit_transform(df['Transmission'])

In [ ]:
df['Transmission_label'].value_counts()

In [ ]:
df['Transmission'].value_counts()

# Start one-hot encoding

In [ ]:
add_columns = pd.get_dummies(df['Transmission'])

In [ ]:
add_columns

In [ ]:
df.join(add_columns)

In [ ]:
df.drop(['Transmission'], axis = 1, inplace = True)

In [ ]:
df.columns

In [ ]:
df = df.join(add_columns)

In [ ]:
df

# 3.2 Standardization

In [ ]:
df.dtypes

In [ ]:
#X = df.iloc[:, [3,4,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,79]]
X = df.iloc[:, [3,4]]
y = df.iloc[:, 2]

In [ ]:
X.head()

# Seperate dependent and independent variables in dataset

# 1.1 indepepend variable

In [ ]:
x=df[['Make_Year','CC']]

In [ ]:
#Display independent variable
x

In [ ]:
x=df[['Make_Year','CC']].values

In [ ]:
#Display independent variable
x

# 1.2 dependent Variable

In [ ]:
y=df[['Price']]

In [ ]:
y